<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    	  package="com.eastasia.simplepos"
    	  android:versionCode="1"
    	  android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11"
        	  android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application android:allowBackup="true"
        		 android:icon="@drawable/ic_launcher"
        		 android:label="@string/app_name"
        		 android:theme="@style/AppTheme" >
        
        <activity android:name="com.eastasia.simplepos.activity.SIMSMainLoginActivity"
        	      android:label="@string/app_name"
        	      android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Start of Admin Pages -->
        <activity android:name="com.eastasia.simplepos.activity.SIMSAdminMainActivity"
        	      android:label="@string/app_name"
        	      android:screenOrientation="landscape" >
        </activity>
        
        <activity android:name="com.eastasia.simplepos.activity.SIMSAdminAddDelItemActivity"
        	      android:label="@string/app_name"
        	      android:screenOrientation="landscape" >
        </activity>
        
        <activity android:name="com.eastasia.simplepos.activity.SIMSAdminViewItemActivity"
        	      android:label="@string/app_name"
        	      android:screenOrientation="landscape" >
        </activity>
        
     	<activity android:name="com.eastasia.simplepos.activity.SIMSAdminViewEmailSalesActivity"
        	      android:label="@string/app_name"
        	      android:screenOrientation="landscape" >
        </activity>
        
        <activity android:name="com.eastasia.simplepos.activity.SIMSAdminManageUsersActivity"
        	      android:label="@string/app_name"
        	      android:screenOrientation="landscape" >
        </activity>
        
        <activity android:name="com.eastasia.simplepos.activity.SIMSAdminAddStockActivity"
        	      android:label="@string/app_name"
        	      android:screenOrientation="landscape" >
        </activity>
        
        <activity android:name="com.eastasia.simplepos.activity.SIMSAdminViewEmailStockActivity"
        	      android:label="@string/app_name"
        	      android:screenOrientation="landscape" >
        </activity>
        
        <activity android:name="com.eastasia.simplepos.activity.SIMSAdminAddPayPalIDActivity"
        	      android:label="@string/app_name"
        	      android:screenOrientation="landscape" >
        </activity>
        <!-- End of Admin Pages -->
        
        <!-- Start of User Pages -->
      	<activity android:name="com.eastasia.simplepos.activity.SIMSUserMainActivity"
        	      android:label="@string/app_name"
        	      android:screenOrientation="landscape" >
        </activity>
        <!-- End of User Pages -->
	
	</application>

</manifest>
